@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1,h2,span{
    font-family: "Lato", sans-serif;
}


h3,h4,p{
    font-family: "Google Sans", sans-serif;
}


.landing-page{
    height: 120vh;
    width: 100%;
    background-color: rgb(34, 33, 33);
    overflow: hidden;
}

.top-section{
    height: 55%;
    width: 100%;
    background-color: #FD1C00;
}

.top-section nav{
    height: 35%;
    width: 100%;
    display: flex;
    padding: 0 1.2rem;
    
}

.top-section nav .nav-left{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: whitesmoke;
    padding: 2rem;
}

.nav-links{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    animation: opacity 3s ease-out;
    width: fit-content;
  
}

.nav-links::before{
    content: "";
    height: 10%;
    width: 1vw;
    top: 0;
    background-color: whitesmoke;
    transition: width 0.2s ease-out;
}

.nav-links:hover::before{
    width: 4vw;
    transform-origin: left;
}



.nav-links h3{
    font-weight: 400;
}

.top-section nav .nav-right{
    height: 100%;
    width: 40%;
}


.nav-right{
    padding: 2rem;
}

.nav-right p{
    font-size: 1.1rem;
    color: whitesmoke;
    margin-bottom: 2rem;
    width: 20ch;
    animation: opacity 3s ease-out;
}


@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.top-section .content{
    height: 65%;
    width: 100%;
    display: flex;
    align-items: end;
    overflow: hidden;
  
}

.top-section .content h1{
    font-size: 17rem;
    color: whitesmoke;
    font-weight: 500;
    line-height: 0.9;
    animation: landing-text-animation 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


@keyframes landing-text-animation{
    from{
        transform: translateY(120%);
    }
    to{
        transform: translateY(0);
    }
}



.bottom-section{
    height: 45%;
    width: 100%;
    overflow: hidden;
}

.bottom-section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: scale 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: landing-page-animation 7s ease-in-out;
}

.bottom-section:hover img{
    scale: 1.15;
}


@keyframes landing-page-animation{
    from{
        scale: 1.8;
    }
    to{
        scale:1
    }
}


.list-page{
    height: 100vh;
    width: 100%;
    padding: 1rem 0.5rem;
    background-color: azure;
}


.list-div{
    border-top: 2px black solid;
    height: 25%;
    width: 100%;
    display: flex;
}

.list-number{
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content:left
}

.list-number h2{
    font-size: 13.7rem;
    font-weight: 400;
    letter-spacing: -1.5rem;
}

.list-info{
    height: 100%;
    width: 45%;
    display: flex;
    padding: 1rem 0rem;
}


.list-description{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.list-description p{
    font-size: 1.3rem;
    line-height: 1.1;
    text-wrap: balance;
}


.list-img{
    height: 100%;
    width: 55%;
    display: flex;
    gap: 2rem;
    overflow: hidden;
}

.list-img img{
    height: 100%;
    width: 45%;
    object-fit: cover;
    transform: translateY(120%);
    transition: transform 0.37s cubic-bezier(0.455, 0.03, 0.515, 0.955);

}

.list-div:hover .list-img img{
    transform: translateY(0%);
}


.list-div:hover {
    background-color: #FD1C00;
    color: whitesmoke;
}